nav + header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 100%;
  color: #FFFFFF;
  background-color: #d49731;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  position: relative; }

#avatar {
  position: relative; }

#user-id {
  position: relative;
  margin-top: 1px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2em;
  font-weight: 300; }
  #user-id strong {
    font-weight: 700; }
