@import "variables";

nav + header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative; 
  width: 100%;
  height: 400px;
  color: $fonts-primary-color;
  background-color: $bkgrd-secondary-color;
  background-image: $bkgrd-secondary-image;
}

#user-id {
  position: relative;
  margin-top: 1px;
  font-family: $font-style-default;
  font-size: 1.75rem;
  font-weight: 300;

  strong { 
    font-weight: 700;
  }
}