@import "variables";

#tweet-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $bkgrd-primary-color;

  .tweet {
    margin: 2.5rem;
    padding: 0.25rem 0.25rem;
    border: 0.25rem solid $fonts-secondary-color;
    opacity: 0.8;

    header {
      display: flex;
      justify-content: space-between;
      padding: 1rem 1rem 0;
      font-size: 1.5rem;

      div {
        display: flex;
        align-items: center;

        span {
          padding-left: 0.4rem;
        }
      }

      .handle {
        opacity: 0;
        font-weight: 400;
      }
    }

    p {
      width: 100%;
      padding: 0 0 1rem 1rem;
      margin: 0;
      margin-top: 1.25rem;
      overflow-wrap: break-word;
      word-wrap: break-word;
      border-bottom: 3px solid $fonts-secondary-color;
      background-color: $bkgrd-primary-color;
      font-family: $font-style-default;
    }

    footer {
      display: flex;
      justify-content: space-between;
      padding: .75rem .75rem .75rem;
      font-size: 1rem;

      i {
        margin-left: 0.75rem;

        &:hover{
          color: #0F545D;
        }
      }
    }

    &:hover {
      opacity: 1;
      box-shadow: 8px 8px 0 0 rgb(176, 175, 175);

      .handle {
        opacity: 0.5;
      }
    }
  }
}