// Color Palettes
//===================
// Backgrounds
$bkgrd-primary-color: #cec9c0;
$bkgrd-secondary-color: #d49731; 
$bkgrd-secondary-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");

$alert: #E63B2E;
$input-color: #4056A1;

// Fonts
$fonts-primary-color: #FFFFFF;
$fonts-secondary-color: rgb(56, 55, 55);

//Font-Styles
//=================
$font-style-default: 'Source Sans Pro', sans-serif;
$font-style-loud: 'Bungee', cursive, sans-serif;