#app-title {
  font-family: 'Bungee', cursive, sans-serif;
  font-size: 1.75em;
}

#new-tweet {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  font-weight: 100;
}

#new-tweet strong {
  font-weight: 700;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 1.5em;
  top: 0;
  height: 120px;
  width: 100%;
  z-index: 3;
  background: #4056A1;
  color: #FFFFFF;
}